<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">

    <title>Neuro</title>
    <link rel="icon" href="{{url_for('static', filename = 'assets/logoIcon.png')}}"
          type="image/x-icon">
  </head>
  <body>
    <div class="container">
        <div class="chat-bot">
            <div class="chat-header">
                <div class="profile-pic"></div>
                <a href="{{domain}}" ><h2>Neuro</h2></a>
                <a class="reset-button" href="{{domain}}reset" >reset</a>
            </div>
            <div class="chat-container">
              {% for item in chat_data %}
                 {% if loop.index % 2 != 0 %}  
                    <div class="chat-message">{{item}}</div>
                  {% else %}
                      <div class="chat-message chat-user">{{item}}</div>
                  {% endif %}
              {% endfor %}
                
                
            </div>
                <form class="input-container" action = "{{domain}}text"  method = "post">
                  <input type="text" class="message-input" name="txt" placeholder="Message Neuro...">
                  <button class="send-button" type="submit">></button>
                </form>

        </div>
        <div class="horizontal-tree">
            <div class="heading-container">
                <h2>AI Learns You</h2>
            </div>
            
            <div class="canvas">
              <ul class="tree">
                {% macro render_dict(dictionary) %}
                    {% for key, value in dictionary.items() %}
                    <li>
                        <a href="expand/{{key}}">{{ key }}</a>
                        {% if value|is_positive_integer %}
                          <span>{{ value }}</span>
                        {% elif value %}
                            <ul>
                              {{ render_dict(value) }}
                              <li><a class="add-button" href="add/{{key}}">+ Add</a></li>
                            </ul>
                        {% endif %}
                      </li>
                       
                    {% endfor %}
                {% endmacro %}
                {{ render_dict(nodes) }}
            </div>
        </div>
    </div>
</body>
</html>